<!--=============================== Header ===========================-->
<div id="header"></div>

<!--=============================== Menu-Bar ========================-->
<div id="menuBar-charity"></div>

<!--=============================== Slider ==========================-->
<div class="slider">
  <div id="home-carousel" class="carousel" data-ride="carousel">
    <div class="carousel-inner" role="listbox">

      <div class="item active slide_1">
        <div class="container p0">
          <div class="item-content">
            <div class="gb-middle ">
              <div class="slider-info ">
                <h4>Junte-se ao Ajudanto Juntos</h4>
                <h2>Ajude Pessoas Idosas</h2>
                <div class="buttons">
                  <a href="features.html" class="red-btn red-btn-0">How You Can Help?</a>
                </div>
              </div>
            </div>
          </div><!-- /.item-content -->
        </div>
      </div><!-- /.item -->

      <div class="item slide_2 ">
        <div class="container p0">
          <div class="item-content">
            <div class="gb-middle">
              <div class="slider-info">
                <h4>Junte-se ao Ajudanto Juntos</h4>
                <h2>Ajude a colocar um sorriso no rosto</h2>
                <div class="buttons">
                  <a href="features.html" class="red-btn red-btn-0">How You Can Help?</a>
                </div>
              </div>
            </div>
          </div><!-- /.item-content -->
        </div>
      </div><!-- /.item -->

      <div class="item slide_3 ">
        <div class="container p0">
          <div class="item-content">
            <div class="gb-middle">
              <div class="slider-info">
                <h4>Junte-se ao Ajudanto Juntos</h4>
                <h2>Ajude no futuro de todos</h2>
                <div class="buttons">
                  <a href="features.html" class="red-btn red-btn-0">How You Can Help?</a>
                </div>
              </div>
            </div>
          </div><!-- /.item-content -->
        </div>
      </div><!-- /.item -->

    </div><!-- /.carousel-inner -->

    <ol class="carousel-indicators">
      <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
      <li class="two" data-target="#home-carousel" data-slide-to="1"></li>
      <li data-target="#home-carousel" data-slide-to="2"></li>
    </ol>

  </div><!-- /.carousel slide -->
</div><!-- /.slider -->


<!--=============================== Images ==========================-->
<div class="main-container-2 grey">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 text-center mb">
        <div class="images">
          <p> <%=image_tag "drop.png"%></p>
        </div>
        <div class="images-text">
          <h2><a href="single-causes.html">Donation</a></h2>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 text-center mb">
        <div class="images">
          <p> <%=image_tag "circle.png"%></p>
        </div>
        <div class="images-text">
          <h2><a href="features.html">Get Involved</a></h2>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 text-center">
        <div class="images">
          <p> <%=image_tag "heart.png"%></p>
        </div>
        <div class="images-text">
          <h2><a href="login.html">Join Us</a></h2>
        </div>
      </div>
    </div>
  </div>
</div>



<!--=============================== Number ======================-->
<div class="number" id="counts">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 mb center ">
        <div class="text">
          <p>
            <span class="spincrement">500</span>
            <span class="text-1"> Successful Projects </span>
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 mb center ">
        <div class="text">
          <p>
            <span class="spincrement">1534</span>
            <span class="text-1"> People Impacted </span>
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 mb center ">
        <div class="text">
          <p>$
            <span class="spincrement ml">14432</span>
            <span class="text-1"> Money Donated </span>
          </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 center ">
        <div class="text">
          <p><span class="spincrement">189</span>
            <span class="text-1"> Total Volunteers </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!--=============================== Our Causes ======================-->
<div class="main-container-4">
  <div class="container">

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="text-center">
          <h2 class="title-text">Nossas Causas</h2>
          <div class="wave-line wave-center"></div>
          <p class="paragraph-white">Fundraising event ideas have become a staple in many organizations
            as a way to help with fundraising event planning, entertaining and engaging your donors </p>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-6 mb">
        <div class="person-card ">
          <div class="person-img">
            <a href="our-causes.html" class="img-link">
              <span><i class="icon-eye" aria-hidden="true"></i></span>
              <img src="http://via.placeholder.com/370x300" alt="" class="img">
            </a>
          </div>
          <div class="person-content">
            <h3><a href="our-causes.html" class="title-white">Provide Treatment</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et. </p>
          </div>
        </div>
        <div class="scale-area">
          <h6>Raised</h6>
          <h6 class="pull-right">Goal</h6>
          <div class="scale clearfix">
            <div class="scale-bar-1" data-percent="43"></div>
            <div class="scale-bar-percent">43%</div>
          </div>
          <h6>5730.00 USD</h6>
          <h6 class="pull-right">112000.00 USD</h6>
        </div>
        <div class="buttons">
          <a href="single-causes.html" class=" red-btn red-btn-4">Donate</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 mb">
        <div class="person-card ">
          <div class="person-img">
            <a href="our-causes.html" class="img-link">
              <span><i class="icon-eye" aria-hidden="true"></i></span>
              <img src="http://via.placeholder.com/370x300" alt="" class="img">
            </a>
          </div>
          <div class="person-content">
            <h3><a href="our-causes.html" class="title-white">Education to Every Child</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et. </p>
          </div>
        </div>
        <div class="scale-area">
          <h6>Raised</h6>
          <h6 class="pull-right">Goal</h6>
          <div class="scale clearfix">
            <div class="scale-bar-1" data-percent="87"></div>
            <div class="scale-bar-percent">87%</div>
          </div>
          <h6>5730.00 USD</h6>
          <h6 class="pull-right">112000.00 USD</h6>
        </div>
        <div class="buttons">
          <a href="single-causes.html" class=" red-btn red-btn-4">Donate</a>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6">
        <div class="person-card ">
          <div class="person-img">
            <a href="our-causes.html" class="img-link">
              <span><i class="icon-eye" aria-hidden="true"></i></span>
              <img src="http://via.placeholder.com/370x300" alt="" class="img">
            </a>
          </div>
          <div class="person-content">
            <h3><a href="our-causes.html" class="title-white">Patient and Family Support</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor incididunt ut labore et. </p>
          </div>
        </div>
        <div class="scale-area">
          <h6>Raised</h6>
          <h6 class="pull-right">Goal</h6>

          <div class="scale clearfix">
            <div class="scale-bar-1 stop" data-percent="62"></div>
            <div class="scale-bar-percent">62%</div>
          </div>
          <h6>5730.00 USD</h6>
          <h6 class="pull-right">112000.00 USD</h6>
        </div>
        <div class="buttons">
          <a href="single-causes.html" class=" red-btn red-btn-4">Donate</a>
        </div>
      </div>
    </div>
  </div>
</div>



<!--=============================== Footer ===========================-->
<div id="footer"></div>

</div>  <!--  /.page -->


<!-- JS code -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="assets/js/jquery.spincrement.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/scrollBar.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/myScript.js"></script>